@{
    Layout = null;  // Assicurati di non utilizzare un layout predefinito, se necessario
}

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stampa</title>
    <style>

        h1 {
            font-size: 3em;
            margin: 20px 0;
        }

    </style>
</head>
<body>

    <h1>PAGINA DI STAMPA VISITE CORRENTI</h1>

</body>
</html>
